
.cols{
    background: #14560e;
    opacity: 80%;
}
    footer{
            min-height: fit-content;
             display: flex;
             opacity:100%;
        margin-left: 20px;
        border: solid 1px #ee8031;
    }

        .footer-col1{
              flex-basis: 18%;
                            }
        .footer-col2{
              flex-basis: 22%;
                            }
        .footer-col3{
              flex-basis: 30%;
                            }
        .footer-col4{
              flex-basis: 30%;
                            }
footer p,ul{
             color: white;
                        }
footer ul{
list-style: none;
}
footer h3{
    color: #ee8031;
}
