
.search{
    position: sticky;
    top:-65px;
    z-index: 2;
}
.search >i{
    font-size: 20px;
    color: #ffffff;

}
.search >input{
    margin:170px 0px 0px 30% ;
    justify-content: center;
    box-sizing: border-box;
    border: solid green;
    outline: none;
    border-radius: 10px;
    height: 50px;
    text-align: center;
    width: 700px;
    opacity:100%;
    background: transparent;
}

@media (min-width: 30em) and (orientation: landscape) {
    /* … */ }